// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top{
background-image: url('top.jpg');
background-size: contain;
width: 1000px;
height: 1000px;
background-repeat: no-repeat;
opacity: 0.5;
}
li {
    list-style: none ;
}
label {
    margin-right: 10px ;
    width: 200px;
}

.musiker {
    color: black;
    font-size: 80px;
    font-family: "cursive","Courgette","Permanent Marker","arial","sans-serif" ;
}
