How about Musiker?
 Musikerはプロの演奏家を自宅に呼んで演奏を依頼できるサービスです。<br>
 ・思い出の曲やお気に入りの曲など、特定の曲を聴きたい時<br>
 ・アンサンブルの練習として<br>
 ・習い事として始めたいけど、どの楽器がいいかな？<br>
 等、様々なご要望にお応えします。

<h3>ご利用の流れ</h3>
1.会員登録
2.オーダー入力(予約日の１ヶ月前まで）
3.お支払い（クレジットカード　銀行振込）
4.ご予約当日に訪問

料金は<%= link_to"こちら",price_path %>をご覧ください

