<div class = "container">
  <div class ="row">
    <div class ="info">
      <div class ="col-12 m-5">
         <h3>料金表</h3>
            料金は以下の項目で構成されます。︎<br>

            ①演奏料
            ②交通費
            ③リクエスト料（希望の場合のみ）<br>
            ⚠演奏時間は１時間です。その時間以外のご要望はお問い合わせください。<br>
            ⚠︎演奏時間は訪問〜後片付け等を含む終了時間を指します。<br>
            =========<br>

            ①演奏料
            ２名・・・¥15,000
            ３名・・・¥20,000
            ４名・・・¥25,000<br>
            ②交通費(東京、埼玉、神奈川、千葉）・・・一律¥1,000<br>
            ③リクエスト料(主に編曲代として発生します）
            全曲リクエスト・・・¥5,000
            半分リクエスト（演奏時間の半分）・・・¥3,000<br>

            例）東京内で２名編成、半分リクエストの場合
            ¥15,000(演奏料）＋¥2,000(交通費２名分）＋¥3,000(リクエスト料）＝¥20,000<br>
            <%= link_to "戻る",about_path,class:"btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>



