
<div class = "container">
  <div class ="top">
      <p class ="text-center">
        <a class ="musiker">Musiker</a><br>
          ~Music Anytime Anywhere~
      </p>
  </div>
</div>

<%= link_to "管理者ログアウト",destroy_admin_session_path, method: :delete %>

