<div class ="progressbar">
  <div class ="item">STEP.1 <br>オーダーご入力</div>
  <div class ="item">STEP.2<br>ご確認</div>
  <div class ="item active">STEP.3<br>注意事項</div>
  <div class ="item">STEP.4<br>完了</div>
</div>

<h5>⚠︎注意事項</h5>
キャンセル料について