<div class ="container">
  <div class ="progressbar">
    <div class ="item">STEP.1 <br>日程選択</div>
    <div class ="item">STEP.2<br>オーダーご入力</div>
    <div class ="item">STEP.3<br>ご確認</div>
    <div class ="item">STEP.4<br>お支払い方法</div>
    <div class = "item">STEP.5<br>注意事項</div>
    <div class ="item active">STEP.6<br>完了</div>

  <div class ="row">
    <h4>ご予約承りました。<br>
    当日はよろしくお願いいたします。</h4>
  </div>
</div>